* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", "Roboto", sans-serif;
  color: white;
}

button {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(25, 25, 134);
}

.header {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

/* .content {
} */

.content__score 
/* score */
{
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.score__score-svg {
  width: 50px;
  height: 50px;
  user-select: none;
  pointer-events: none;
}

.score__score-count {
  font-size: 18px;
}

.content__clicker 
/* clicker */ {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.clicker__clicker-button {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 8px solid white;
  margin-bottom: 12em;
  transition: transform 0.2s ease;
  --tiltX: 0deg;
  --tiltY: 0deg;
  transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
  background-color: transparent;
  user-select: none;
}

.clicker__clicker-button:active {
  border-color: red;
}

.clicker__clicker-svg {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: inherit;
  user-select: none;
  pointer-events: none;
}

.clicker__plus-one {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  animation: move-up 2s forwards;
}

.clicker__plus-one-svg {
  width: 30px;
  height: 30px;
}

.footer {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.footer__clear-button {
  margin-bottom: 20px;
  padding: 4px 10px;
  font-size: 20px;
  border: 4px solid white;
  border-radius: 10px;
  background-color: transparent;
  user-select: none;
}

.footer__clear-button:active {
  border-color: red;
}

@keyframes move-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@media (max-width: 414px) {
  /* .content {
    touch-action: none;
  } */

  .content__clicker {
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
  }
}
